<div class="panel panel-default">
  <div class="panel-heading">
  	<h2>ABOUT</h2>

</div>
<div class="panel-body">

</div>
<div class="panel-footer">
<%= link_to "Back", :back %>
</div>
</div>