<div class="panel panel-default">
  <div class="panel-heading">
  	<h2>ABOUT</h2>

</div>
<div class="panel-body">
HOA lets you easily manage your HOA community through community calendars, contact and social media directories, community resources, HOA fee payment portals, updates/alerts and community document center
</div>
<div class="panel-footer">
<%= link_to "Back", :back %>
</div>
</div>