<div class="jumbotron">
	<div class="center">
 		 <h1>Connect with your Neighbors!</h1>
  			<p>Rently lets you quickly and easily share, coordinate and connect with your neighbors and landlord.</p>
  	<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	<span class="glyphicon glyphicon-user"></span>
       Get More Information
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Additional Information</h4>
      </div>
      <div class="modal-body">
        This is very important information on how this works. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
